.container-telephone {
    position: absolute;
    background-color: #86D3F4;
    padding: 30px 10px 10px;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-align: center;
}

ul {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
}

li { 
    list-style: none;
}

.reset {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: white;
    width: 52px;
    height: 52px;
    z-index: 1000;
    opacity: 0.3;
}

.reset {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
}

.reset:hover {
    opacity: 1;
}

.reset:before, .reset:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.reset:before {
    transform: rotate(45deg);
}

.reset:after {
    transform: rotate(-45deg);
}